<p style="color: green"><%= notice %></p>

<h1>Budget Categories</h1>

<div id="budget_categories">
  <% @budget_categories.each do |budget_category| %>
    <%= render budget_category %>
   <% end %>
</div>

<%= link_to "Add New Category",  new_budget_category_path %>
