/* header {
  position:fixed;
  top: 0;
  width: 100vw;
  height: 4rem;
} */

.header-top {
  display: flex;
}

#menu.active {
  display: block;
}

.splash-screen a:hover {
  background: #3778c2;
  color: #fff;
}

#menu-close {
  font-size: 2rem;
  position: fixed;
  left: 1rem;
}

#menu-toggle.active {
  display: block;
}

#menu-toggle {
  display: none;
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
  margin-right: auto;
}

#menu {
  display: none;
  width: 100%;
  height: 50%;
  position: fixed;
  background-color: #3778c2;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 3rem;
}

.desktop-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin: 0.5em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#menu ul {
  list-style: none;
  margin-top: 2rem;
}

#menu li {
  display: block;
}

#menu a {
  display: block;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(5, 195, 5);
  text-decoration: none;
  text-align: left;
  margin-left: 3rem;
  font-size: 2rem;
}

#menu a:hover {
  background-color: gray;
}

.logout-div {
  margin-right: 1rem;
}

.logout-desktop {
  background: none;
  border: none;
  width: 7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  text-align: left;
  font-size: 1.5rem;
}

.logout-menu {
  display: none;
  background: none;
  border: none;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(5, 195, 5);
  text-decoration: none;
  text-align: left;
  margin-left: 3rem;
  font-size: 2rem;
}

.edit {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edit_header {
  text-align: center;
  font-size: 2rem;
}

.edit_action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_field {
  border-radius: 5px;
}

.edit_actions {
  margin-top: 1rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.splash-mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
}

.auth {
  position: fixed;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-1 {
  background-color: aliceblue;
  margin-top: 1rem;
  width: 70vw;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo1 {
  width: 50vw;
}

.categories {
  width: 100%;
}

.expense-img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

#budget_categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1rem;
}

.category-expense {
  padding: 1em;
  width: 100vw;
  background: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.category {
  padding: 1em;
  width: 90vw;
  border-radius: 8px;
  background: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-expense img {
  width: 3.5rem;
  border-radius: 4px;
  max-height: 5em;
  margin: 0;
  display: flex;
}

.category img {
  width: 3.5rem;
  border-radius: 4px;
  max-height: 5em;
  margin: 0;
  display: flex;
}

.devise--1 {
  background-color: #3778c2;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.devise--2 {
  background-color: #3778c2;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.text_filed {
  margin-top: 1rem;
}

.categories h1 {
  text-align: center;
  padding: 1em;
}

.new-category {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #37c247;
  color: #fff;
  height: 3rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.category-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notice {
  font-size: 1rem;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#expenses {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.expense {
  font-size: 2em;
  margin: auto;
  margin-top: 1rem;
  background: #fff;
  width: 90%;
  padding: 0.5em 1em;
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
  box-shadow: 8px 8px 7px 0 rgba(0, 0, 0, 0.5);
}

.expense-info {
  margin-top: 10px;
}

.expense:nth-child(1) {
  border-top: 1px solid #bbb;
}

.expense div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.expense div .date,
.amount {
  font-size: 0.8em;
  opacity: 0.75;
}

.h11 {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background: #3778c2;
  margin: 0;
  width: 100%;
  color: white;
  border: none;
}

.total_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.para-g {
  color: #3778c2;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 1.5rem;
}

.total-container {
  margin: auto;
  padding: 1em;
  font-size: 1.5em;
  width: 90%;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

#error_explanation h2 {
  display: none;
}

.desktop-nav {
  font-size: 1.5rem;
  text-decoration: none;
}

.desktop-nav ul :hover {
  color: white;
}

.nav-fix {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .logout {
    display: block;
  }

  .splash-mini {
    padding-top: 8rem;
  }

  .logo1 {
    width: 70vw;
  }

  .auth {
    bottom: 6rem;
    display: block;
  }

  .desktop-nav {
    display: none;
  }
}
