<div id="<%= dom_id expense %>">
 
<p>
<%= link_to expense.name, budget_category_expense_path(@budget_category, expense) %>
</p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>


</div>
