<div id="<%= dom_id expense %>" class="expense">
<div>
<p>
<%= expense.name %>
</p>
<p class="date">
<i class="fa-regular fa-calendar"></i>
<%= expense.time_created %>
</p>
</div>

  <p class ="amount">
    $<%= expense.amount %>
  </p>
</div>

