<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", budget_category_expenses_path %>
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_budget_category_expense_path %>
