<h1>New Transactions</h1>

<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to 'Back', budget_categories_path %>
  <%# link_to "Back to expenses", budget_category_expenses_path(current_user, @budget_category) %>
</div>
