<p class="notice"><%= notice%> </p>
<p class="alert"><%= alert%> </p>
<% if user_signed_in? %>

  <div class="header-1">
  <p class="header-p">Welcome,<b> <%= current_user.name %></b></p>
  
  </div>
  <h1 class="h11">Budget Categories</h1>

<% end %>